@import url('https://fonts.googleapis.com/css?family=Russo One:400,700');
*
h1 {
    font-family: "Russo One" , sans-serif;
    
    color:white;
    text-align: center;
    margin: auto;
    font-size: 60px;
    width: 300px;
    
}